@using ProjectPlanner.Models.ViewModels
@model TicketBoardVM

<h1>Create Ticket for @Model.Project.Name</h1>


<form asp-action="Create" method="post">
    @*  <input asp-for="Ticket.ProjectId" hidden />
     <input asp-for="Ticket.Project" hidden /> *@
    <input asp-for="Project.Id" hidden />

    <label asp-for="Ticket.Title"></label>
    <input asp-for="Ticket.Title" />
    <span asp-validation-for="Ticket.Title" class="text-danger"></span>
    <br />
    <label asp-for="Ticket.Description"></label>
    <input asp-for="Ticket.Description" />
    <span asp-validation-for="Ticket.Description" class="text-danger"></span>
    <br />
    <label asp-for="@Model.Ticket.Priority"></label><br>
    <select class="form-label" asp-for="@Model.Ticket.Priority" asp-items="@Model.PriorityList">
        <option disabled selected>--Select Priority--</option>
    </select>
    <br />
    <input type="submit" />
</form>

<a asp-controller="Project" asp-action="Details" asp-route-id="@Model.Project.Id">Back to tickets</a>
