@using ProjectPlanner.Models.ViewModels
@model TicketBoardVM

<h1>Edit ticket @Model.Ticket.Title</h1>


<form asp-action="Edit" method="post">
    <input asp-for="@Model.Ticket.ProjectId" hidden />
    <input asp-for="@Model.Ticket.Project" hidden />
    <input asp-for="Project.Id" hidden />
    <input asp-for="Ticket.Id" hidden />

    <label asp-for="Ticket.Title"></label>
    <input asp-for="Ticket.Title" />
    <span asp-validation-for="Ticket.Title" class="text-danger"></span>
    <br />
    <label asp-for="Ticket.Description"></label>
    <input asp-for="Ticket.Description" />
    <span asp-validation-for="Ticket.Description" class="text-danger"></span>
    <br />
    <label asp-for="@Model.Ticket.Priority"></label><br>
    <select class="form-label" asp-for="@Model.Ticket.Priority" asp-items="@Model.PriorityList">
        <option disabled selected>--Select Priority--</option>
    </select>
    <br />
    <label asp-for="@Model.Ticket.Status"></label><br>
    <select class="form-label" asp-for="@Model.Ticket.Status" asp-items="@Model.StatusList">
        <option disabled selected>--Select Priority--</option>
    </select>
    <br />
    <input type="submit" />
</form>
